<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id ="db" class="com.vignesh.DAObean"/>
    <bean id ="sb" class="com.vignesh.Servicebean">
        <property name="dao" ref="db"/>
    </bean>

    <bean id ="pl" class="com.vignesh.PresentaionLayer">
        <property name="service" ref="sb"/>
    </bean>

</beans>



